:host {
  /* border: 1px solid black; */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
  width: 100%;
  iframe {
    border-radius: inherit;
    height: 65%;
    width: 100%;
  }
}
